<div class="container">
  <mat-toolbar>
    <span>Usuários</span>


   <div class="example-spacer">    </div>
    <button mat-raised-button color="primary" routerLink="/dashboard/create-user">Adicionar</button>


  </mat-toolbar>


  <div>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>


        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>


        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="act">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
            <a class="pointer" style="color: #1878b0;" matTooltip="Pesquisar Usuário">
              <mat-icon>search</mat-icon>
            </a>

            <a class="pointer" style="color: #1f516f;" matTooltip="Editar Usuário">
              <mat-icon>edit</mat-icon>
            </a>

            <a class="pointer" (click)="deleteUser(i)" style="color: #e15639;" matTooltip="Deletar Usuário">
              <mat-icon>delete</mat-icon>
            </a>

          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>